@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
    color: #ffffff;
}

header {
    margin: auto;
    padding: 0 10px;
    background: url(background-image.jpg) no-repeat center;
    background-size: cover;
    height: 800px;
    text-align: center;
}

h1 {
    font-size: 80px;
    padding: 80px 0;
    letter-spacing: 8px;
    text-transform: uppercase;
}

h1 + p {
    font-size: 27px;
    font-weight: 100;
    margin: 20px;
}

.btn {
    color: #ffffff;
    background: none;
    border: 5px solid #ffffff;
    border-radius: 15px;
    margin-top: 40px;
    padding: 15px 45px;
    font-size: 16px;
}

.btn:hover {
    background: #000;
    border-color: #000;
    cursor: pointer;
}


main {
    font-family: "Lato", sans-serif;
    margin: 50px 200px;
    max-width: 1060px;
    padding: 0 10px;
}

h2 {
    color: #234465;
    margin: 10px;
    text-transform: uppercase;
}

main > p {
    font-size: 16px;
    color: #333333;
    margin-bottom: 5px;
    letter-spacing: 0;
    width: 800px;
}

img {
    float: left;
    width: 180px;
    height: 100px;
    margin: 10px 50px 0 0;
}

footer {
    background-color: #000;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    height: 80px;
    line-height: 80px;
    margin: 0px;
}